body {
    background-color:azure;
    font-family:'Courier New', Courier, monospace;

    height: 100%;
}

#rotd {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1 {
    text-align: center;
}

.dice-container {
    width: 90%;
    height: 35em;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
}

.dice {
    width: 100%;
    height: 100%;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
}
.dice p {
    color: white;
    text-align: center;
}