body {
    background-color:azure;
    font-family:'Courier New', Courier, monospace;
    width: 100%;
}

#rotd {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1 {
    text-align: center;
}